@{
    ViewBag.Title = "About";
}
@section styles
{
    <style>
        span {
            font-size: 26px;

        }
    </style>
}
@section pageribbon {
    <div class="ribbon about">
        <a class="signup" href="@Url.Action("index", "signup", new { area = "" })" title="Join Now!"></a>
    </div>
}

<div class="well-large">
    <p class="intro">Mailatale was created over cups of hot coffee and a long, winding conversation about
        the best bears in kids’ literature (Berenstain…or Paddington?). We realized that
        we had found a team of motivated people that love reading just as much as your kids
        do. There are millions of titles just waiting to be dug up and discovered, perfect
        for you and your little reader.
    </p>
    <section class="bio">
        <img src="~/assets/img/about/anila.jpg" alt="" title="" />
        <div class="bio-info">
            <span class="Populaire">Anila Akram</span>
            <p>
                Lifelong Torontonian. The coolest aunt ever, six years running.
            </p>
            <img src="~/assets/img/about/why-i-do-what-i-do.gif" alt="Why I do what I do" title="Why I do what I do" />
            <p>
                Today kids have computers, phones, PS3s, and iPods. When I was six, I had a jump
                rope. And lots of books. As an aunt and cousin to three six-year old boys, I believe
                nothing is more important.
            </p>
            <img src="~/assets/img/about/favourite-book-growing-up.gif" alt="Favourite book growing up"
                 title="Favourite book growing up" />
            <p>
                Le Petit Prince by Antoine de Saint-Exupery
            </p>
            <img src="~/assets/img/about/favourite-book-today.gif" alt="Favourite book today" title="Favourite book today" />
            <p>
                Tangerine by Edward Bloom
            </p>
        </div>
    </section>
    <section class="bio">
        <img src="~/assets/img/about/anthony.jpg" alt="" title="" />
        <div class="bio-info">
            <span class="Populaire">Anthony Darcovich</span>
            <p>
                Born and raised in Whiterock, BC. Apparently, a deep fondness for ice cream cones,
                airplanes and Lego makes me a big kid at heart.
            </p>
            <img src="~/assets/img/about/why-i-do-what-i-do.gif" alt="Why I do what I do" title="Why I do what I do" />
            <p>
                Children are basically miniature adults who will one day be taller and lead the
                world. So read to your kids now - you never know what you can spark with a good
                book.
            </p>
            <img src="~/assets/img/about/favourite-book-growing-up.gif" alt="Favourite book growing up"
                 title="Favourite book growing up" />
            <p>
                The Phantom Toll Booth by Norton Juster. My dad used to read it out loud to me every
                night, silly voices and all.
            </p>
            <img src="~/assets/img/about/favourite-book-today.gif" alt="Favourite book today" title="Favourite book today" />
            <p>
                Still The Phantom Toll Booth. You’ll never get how clever it is until you read it
                again ten years later.
            </p>
        </div>
    </section>
    <section class="bio">
        <img src="~/assets/img/about/heather.jpg" alt="" title="" />
        <div class="bio-info">
            <span class="Populaire">Heather Burns</span>
            <p>
                Overall Marketer, strategic thinker, and digital strategist. A bigger Raptors fan
                than you.
            </p>
            <img src="~/assets/img/about/why-i-do-what-i-do.gif" alt="Why I do what I do" title="Why I do what I do" />
            <p>
                There is nothing more important than imagination - and although I'm quick to defend
                technology as a former digital strategist, a good book can open a child's mind to
                a world of adventure. What you can imagine will always be greater than what you
                can see.
            </p>
            <img src="~/assets/img/about/favourite-book-growing-up.gif" alt="Favourite book growing up"
                 title="Favourite book growing up" />
            <p>
                The Sneetches and Other Stories, by the physician known as Seuss.
            </p>
            <img src="~/assets/img/about/favourite-book-today.gif" alt="Favourite book today" title="Favourite book today" />
            <p>
                And Tango Makes Three by Peter Jarnell and Justin Richardson, and The Time Traveler’s
                Wife by Audrey Niffenegger.
            </p>
        </div>
    </section>
    <section class="bio">
        <img src="~/assets/img/about/ADM.jpg" alt="" title="" />
        <div class="bio-info">
            <span class="Populaire">Adam Bacsalmasi</span>
            <p>
                Designer, big fan of this online stuff. I think it's got a future.
            </p>
            <img src="~/assets/img/about/why-i-do-what-i-do.gif" alt="Why I do what I do" title="Why I do what I do" />
            <p>
                If it wasn't for a love of reading as a kid, I wouldn't be where I am today.
            </p>
            <img src="~/assets/img/about/favourite-book-growing-up.gif" alt="Favourite book growing up"
                 title="Favourite book growing up" />
            <p>
                The Hitchhikers Guide to the Galaxy by Douglas Adams.
            </p>
            <img src="~/assets/img/about/favourite-book-today.gif" alt="Favourite book today" title="Favourite book today" />
            <p>
                The Hitchhikers Guide to the Galaxy by Douglas Adams. I guess I never grew up.
            </p>
        </div>
    </section>
    <section class="bio">
        <img src="~/assets/img/about/Cory.jpg" alt="" title="" />
        <div class="bio-info">
            <span class="Populaire">Cory Taylor</span>
            <p>
                Developer, relentless learner with a passion for technology.
            </p>
            <img src="~/assets/img/about/favourite-book-growing-up.gif" alt="Favourite book growing up"
                 title="Favourite book growing up" />
            <p>
                The Berenstain Bears series of books created by Stan and Jan Berenstain.
            </p>
            <img src="~/assets/img/about/favourite-book-today.gif" alt="Favourite book today" title="Favourite book today" />
            <p>
                No particular favorite but my bookshelf is full with biographies of influential people throughout history.
            </p>
        </div>
    </section>
</div>