@{
    ViewBag.Title = "Privacy Policy";
}
@section pageribbon {
    <div class="ribbon">
        <h1>privacy</h1>
    </div>
}
<div class="well-large">
    <div class="terms">
        <h2>Last update</h2>
        <p>
            November 26, 2011
        </p>
        <h2>Mailing Address.</h2>
        <p>
            33 Charles Street East<br />
            Suite 4406<br />
            Toronto, Ontario<br />
            M4Y1R9
        </p>
        <h2>Definitions</h2>
        <p>
            Mailatale (collectively “Mailatale,” “we,” “us,” and “our”) provides its service
            through this website www.mailatale.ca (collectively, the “website,” “site,” and
            “service”). The following document outlines Mailatale’s policy with respect to information,
            including personally identifiable data (“personal information”) and any other information
            provided to Mailatale, either through the website or otherwise. The Terms and Conditions
            (available at www.mailatale.ca/terms) and Privacy Policy are collectively referred
            to as the “Terms of Use.” All clauses work in conjunction.
            <br />
            <br />
            Mailatale subscribers are hereby referred to as “Customers,” “Users,” “Subscribers,”
            “Subscription Holders,” “Recipients “(as it refers to the receiver of monthly Mailatale
            deliveries), and/or “Sender” (as it refers to the sender of communications to Mailatale).
            <br />
            <br />
            This agreement shall be construed and enforced in accordance with the laws of the
            Province of Ontario and the federal laws of Canada.
        </p>
        <h2>Information We Collect</h2>
        <p>
            Mailatale collects personal information in order to carry out its service obligation
            to you. This information includes, but is not limited to, subscriber name, subscriber
            address, subscriber email address, recipient name, recipient address, name of recipient’s
            child, recipient’s book preferences, recipient’s age, recipient’s birth date, and
            recipient’s email address.
            <br />
            <br />
            By voluntarily providing any information to us during the account creation process
            or otherwise, you consent to our use of any information, personal information included,
            in accordance with this policy.
        </p>
        <h2>Preferences</h2>
        <p>
            Mailatale selects books for each package based on preferences the subscriber submits.
            Subscribers are responsible for providing accurate and up-to-date personal information.
            This information is used for the purposes of curation, responding to customer needs,
            personalizing and improving the website, delivering superior customer service, processing
            transactions and completing delivery of service.
        </p>
        <h2>Aggregate data</h2>
        <p>
            Mailatale collects personal non-identifiable information from visits to our website
            and aggregate data (such as but not limited to location, demographics, preferences,
            etc.) on users. This information cannot be used to personally identify you. This
            information is used to understand how users interact with our website and may be
            shared with our affiliates, at our sole discretion. Mailatale may also disclose
            such aggregate data to current and potential partners, or any third parties for
            any lawful purpose.
        </p>
        <h2>Use of Information Submitted</h2>
        <p>
            Any information you provide to Mailatale in order to sign-up for the service will
            be used in order to fulfill our obligation to you to deliver the service and to
            inform you of any marketing or promotions that you many find relevant. We also use
            aggregate data in order to better understand how users interact with out website
            and to improve the delivery of our website, packages and customer service. Mailatale
            does not sell, transfer, share or distribute any personally identifiable information
            to external parties except as outlined in the exceptional circumstances below:<br />
            • Business transfers – Mailatale may buy and or sell businesses or other assets
            and in such an event personal data may be part of a sale or transfer;<br />
            • Similar companies – Mailatale may share your information with companies as outlined
            in this policy for reasons such as but not limited to potential marketing opportunities;<br />
            • Consultants, Advisors, and arms-length organizations – Mailatale may share information
            with any organization in which it hires to perform services that assist us in fulfilling
            our obligation to deliver our services to you;<br />
            • Legal Requirements – Mailatale may also disclose your information as required
            by the laws of Ontario and/or Canada.
        </p>
        <h2>Exclusions</h2>
        <p>
            The description of ‘Use of Information Submitted’ only applies to personal information
            collected for the purposes of delivering service to you. Mailatale is free to use
            any comments, suggestions, ideas, concepts, information or reviews (“Content”) including
            but not limited to surveys, questionnaires, feedback submissions, and emails without
            any compensation, acknowledgement or payment to the subscriber or individual. By
            posting any Content to the Mailatale website, the Mailatale Twitter page, the Mailatale
            Facebook page (or the Twitter or Facebook pages of the associated co-founders and
            team members of Mailatale), the Subscriber grants Mailatale a non-exclusive, royalty-free
            irrevocable license to use the posted information. Mailatale reserves the right
            to display, distribute or publish any version of the original comments in any media,
            online, or print materials. Mailatale will not share the identity of the Author
            or Sender of private communications without express consent.
        </p>
        <h2>Declining to provide personal information</h2>
        <p>
            You are free to decline to submit personal information to Mailatale. Should you
            wish do so, we may not be able to provide delivery of our service to you as effectively
            and you may not be able to access all aspects of our website.
        </p>
        <h2>Children</h2>
        <p>
            Mailatale does not knowingly collect information from anyone under the age of 18.
            Any information submitted to Mailatale that directly or indirectly refers to children,
            you choose to provide in order to receive a better customer experience. While Mailatale
            offers products for use by children, any information regarding your child or the
            recipients child is provided at your own discretion and with their parents and/or
            legal guardian’s consent. Such information includes but is not limited to the recipient
            child’s name, birthday, and reading preferences.
            <br />
            <br />
            Should someone under the age of 18 wish to use the Mailatale service, they may only
            do so with the consent of their parent or legal guardian. If you have reason to
            believe that personal information has been provided to Mailatale from anyone under
            the age of 18, please contact us and we shall remove such information from our databases.
        </p>
        <h2>Cookies</h2>
        <p>
            Mailatale may also use cookies to increase the functionality and data analysis abilities
            of our website. You may wish to turn off cookies from your web browser, however
            should you choose to do so, you may not be able to use all of the site’s features
            including but not limited to subscribing to a package.
        </p>
        <h2>Protection of Information</h2>
        <p>
            Mailatale takes reasonable steps to ensure your security. Accounts are password
            protected and the account areas and the payment process is protected by a Secure
            Sockets Layered (SSL) technology. However, no internet communication is ever completely
            secure and you are free to decline to provide us any personal information you are
            not comfortable sharing.
            <br />
            <br />
            Mailatale works with Beanstream Internet Commerce Corp Services and Toronto-Dominion
            (TD) Bank in order to process credit card payments. You may be subject to their
            privacy policies as well.
        </p>
        <h2>Access to your information</h2>
        <p>
            You are free to change and/or delete any personal information you submit to Mailatale
            at any time. Should you wish to delete your personal information previously submitted
            to Mailatale, we may be unable to provide you any of our services. Please send any
            requests to amend or delete personal information to <a href="mailto:hello@mailatale.ca">hello@mailatale.ca</a>.
        </p>
        <h2>Changes to this policy</h2>
        <p>
            Mailatale reserves the right to change this policy at its sole discretion. Any update
            will be reflected by the date at the top of this policy. Your continued use of the
            website and any of Mailatale’s services after such a change has occurred shall indicate
            your agreement with the amended policy.
        </p>
        <h2>Terms and Conditions</h2>
        <p>
            This privacy policy and the associated Terms and Conditions Policy (available at
            @Html.ActionLink("www.mailatale.ca/terms", "terms", "home")) constitute the Terms of Use.
        </p>
        <h2>Questions? Comments? Concerns?</h2>
        <p>
            If you have any questions, comments or concerns with Mailatale’s Terms of Use including
            the Terms and Conditions and Privacy Policy, please contact us at <a href="mailto:hello@mailatale.ca">hello@mailatale.ca</a>.
        </p>
    </div>
</div>