@{
    ViewBag.Title = "Terms & Conditions";
}
@section pageribbon {
    <div class="ribbon">
        <h1>Terms</h1>
    </div>
}

<div class="well-large">
    <div class="terms">
        <h2>Last update</h2>
        <p>
            November 26, 2011
        </p>
        <h2>Mailing Address.</h2>
        <p>
            33 Charles Street East<br />
            Suite 4406<br />
            Toronto, Ontario<br />
            M4Y1R9
        </p>
        <h2>Definitions</h2>
        <p>
            Mailatale (collectively “Mailatale,” “we,” “us,” and “our”) provides its service
            through this website www.mailatale.ca (collectively, the “website,” “site,” and
            “service”) subject to the following Terms and Conditions (“Terms and Conditions”).
            Mailatale subscribers are hereby referred to as “Customers,” “Users,” “Subscribers,”
            “Subscription Holders,” “Recipients “(as it refers to the receiver of monthly Mailatale
            deliveries), and/or “Sender” (as it refers to the sender of communications to Mailatale).
            <br />
            <br />
            The website is offered subject to User acceptance without modification of all of
            the terms and conditions contained herein and all other operating rules, policies
            and procedures that may be published from time to time on this site.
            <br />
            <br />
            You may also be subject to Mailatale’s Privacy Policy when private information is
            shared with Mailatale. This document can be found at www.mailatale.ca/privacy. The
            Terms and Conditions and Privacy Policy are collectively referred to as the “Terms
            of Use.” All clauses work in conjunction.
            <br />
            <br />
            This agreement shall be construed and enforced in accordance with the laws of the
            Province of Ontario and the federal laws of Canada.
        </p>
        <h2>Third Party Service Providers</h2>
        <p>
            Mailatale works with various service providers in order to carry out its obligations
            to users. On certain occasions, including but not limited to delivering the service,
            you may be bound by the Terms and Conditions and Privacy Policies of these service
            providers. Mailatale currently works with Canada Post and Beanstream Internet Commerce
            Corp. (partnered with Toronto Dominion Bank and its affiliates).
        </p>
        <h2>Mailatale Service</h2>
        <p>
            Mailatale offers monthly children’s book packages. The contents of each package
            with vary from month to month and customer-to-customer, however each package will
            always contain the stated retail value of books. (“Value Guarantee”). Mailatale
            bases this “Value Guarantee” off the published list price in Canadian dollars.
            <br />
            <br />
            From time to time, in accordance with this agreement, we may include promotions
            (fliers, coupons, etc.) from us, or our suppliers that are relevant to this service
            offering. Packages may also include stickers and informational newsletters.
            <br />
            <br />
            Mailatale reserves the right to modify, change, discontinue its service (either
            temporarily or permanently) at its sole discretion with or without notification.
            Mailatale assumes no responsibility for any damages or loss that arise from such
            modifications, changes or discontinuation.
        </p>
        <h2>Delivery Process</h2>
        <p>
            All packages are shipped monthly via Canada Post, and sent nationally once per month.
        </p>
        <h2>Refunds/Cancellations</h2>
        <p>
            Subscribers can cancel plans at any time. There are no fees for cancellation at
            least 2-3 calendar weeks before the next shipment date, unless specified in certain
            promotional offers. Cancellations that occur less than 2-3 weeks before the next
            shipment date will take effect for the following month.
            <br />
            <br />
            Subscribers agree to release their preferences to Mailatale and its partners in
            order to receive a package suited to their needs. Refunds are not accepted for goods
            already shipped. If Subscribers express a concern with a particular titles received
            in packages, Mailatale can be contacted on an individual basis.
        </p>
        <h2>Children</h2>
        <p>
            You must be 18 years or older in order to create an account with Mailatale. While
            individuals under the age of 18 may utilize the service, they may do so only with
            the involvement and consent of their parent or legal guardian. While Mailatale distributes
            products used by children, we do not intend to collect personal information from
            anyone under the age of 18. Any information provided by the parent or legal guardian
            is done so at their sole discretion.
        </p>
        <h2>Account</h2>
        <p>
            Users are responsible for the security of their password and account information.
            Users agree that any and all activity on the Subscriber’s account is the sole responsibility
            of the User. You agree to notify Mailatale immediately of any unauthorized use of
            your account or any other breach of security and agree to hold Mailatale harmless,
            and not liable, for any loss or damages as a result of you not complying with the
            “Account” section of this document.
        </p>
        <h2>Termination</h2>
        <p>
            Mailatale reserves the right to cancel the membership of any Subscriber at any time.
            Any already incurred payment will be refunded to the Subscriber and the service
            will be suspended indefinitely. Subscribers cannot be compensated for packages already
            shipped and/or received.
        </p>
        <h2>Payment & Fees</h2>
        <p>
            You will be required to provide Mailatale with payment information should you wish
            to subscribe to a package. You are required to own and have authorized use of a
            Visa or MasterCard credit card in order to use this service. By subscribing to this
            service, you agree to be charged indefinitely on a monthly basis, until such point
            where you cancel this service. Any such cancellation must adhere to the Refunds/Cancellations
            section of this Terms of Use.
            <br />
            <br />
            All payment information is handled securely through our website. You agree that
            any payment information provided is correct and that you authorized to use such
            payment method. You further agree to update Mailatale of any changes to your payment
            and/or billing information. The price of the plan is listed as indicated. Mailatale
            reserves the right to change it’s pricing on 30 calendar days of notice. Your continued
            use of the service after the price change comes into effect shall constitute your
            acceptance of the updated price and your agreement to be billed accordingly. Packages
            are taxed in accordance with federal and provincial regulations. You agree to pay
            any and all taxes associated with your purchase.
            <br />
            <br />
            Subscribers are responsible for any fees associated with undeliverable or changed-address
            packages, inaccurate credit card information, or inaccurate address information.
        </p>
        <h2>Security</h2>
        <p>
            Mailatale uses Secure Socket Layer (SSL) technology to protect all payment and personal
            information. You are responsible for the security of your own account in accordance
            with the “Account” section previously described in this Terms of Use document. Unfortunately,
            no level of protection can guarantee 100% security. Accordingly, Mailatale assumes
            no responsibility or liability from the improper use of any information obtained
            through means that circumvent any security measures we have taken.
        </p>
        <h2>Commercial Use</h2>
        <p>
            Mailatale’s service is provided strictly for personal use and you agree that you
            will not use this service for any commercial activities.
        </p>
        <h2>Indemnity and Release</h2>
        <p>
            You agree to release, indemnify and hold harmless Mailatale, its founders, directors,
            partners, and employees from and against any and all liabilities, losses, damages,
            expenses (including legal fees of any kind), claims, costs, and actions of any kind
            (including injuries and death) arising out of or in connection with the use, review,
            reproduction, transmission of the Mailatale website, Mailatale package, any other
            service Mailatale provides, or your violation of these Terms of Use.
        </p>
        <h2>Limitation of Liability</h2>
        <p>
            Mailatale shall not be liable to Users and/or any third parties for any damages
            of any kind arising out of or relating to the use of, or reliance upon, the Mailatale
            Website including, but not limited to, any lost profits, lost opportunities, special,
            incidental, indirect, consequential or punitive damages, regardless of advice to
            Mailatale to the contrary.
        </p>
        <h2>Disclaimer and Warranties</h2>
        <p>
            All information is provided on an "as is" basis without any warranties of any kind.
            Mailatale makes no representations and disclaims all expressed and implied warranties
            and conditions of any kind, including without limitation, representations, warranties
            or conditions regarding accuracy, timeliness, completeness, non-infringement, merchantability,
            quality of products, or fitness for any education purpose or otherwise of the Mailatale
            website, services or packages.
        </p>
        <h2>Links to other Sites</h2>
        <p>
            Mailatale provides no guarantee or warranty as to the accuracy, completeness, timeliness,
            non-infringement, or merchantability of these sites. They are only provided as a
            convenience to Subscribers and Website visitors. Any content provided by Mailatale
            users via the blog or elsewhere is subject to the same Terms of Use.
        </p>
        <h2>Limitations of Use</h2>
        <p>
            Any User, Subscriber or otherwise Visitor to the Website may not copy, download,
            distribute or publish anything from the Website without our express written consent.
        </p>
        <h2>Changes to the Terms and Conditions and Terms of Use</h2>
        <p>
            Mailatale reserves the right to update or modify this document at any time. The
            date of the most recent update will be noted at the top of the agreement. It is
            your responsibility to periodically check the website for any updates. By accessing
            or using (and continuing to access and use after any changes) any part of the website,
            Users agree to become bound by the terms and conditions of this agreement.
        </p>
        <h2>Questions? Comments? Concerns?</h2>
        <p>
            If you have any questions, comments or concerns with Mailatale’s Terms of Use including
            the Terms and Conditions and Privacy Policy, please contact us at <a href="mailto:hello@mailatale.ca">hello@mailatale.ca</a>.
        </p>
    </div>
</div>