<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx35.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <extensions>
        <add assembly="NLog.Targets.Loggly"/>
        <add assembly="NLog.Targets.Syslog"/>
    </extensions>
    <targets>
        <!--<target name="webLoggly"  xsi:type="Loggly" InputKey="2c7bc08e-ce1b-49de-a49a-60fe91eba0af"/>
        <target name="ravenLoggly"  xsi:type="Loggly" InputKey="53f9e002-3019-42e4-ab59-1a8804ae73fd"/>-->
        <target name="webLoggly"  xsi:type="Syslog" syslogserver="logs.loggly.com" port="43789"/>
        <target name="ravenLoggly"  xsi:type="Syslog" syslogserver="logs.loggly.com" port="46803"/>
        <target name="webPaperTrail" xsi:type="Syslog" syslogserver="logs.papertrailapp.com" port="53215" />
        <target name="ravenPaperTrail" xsi:type="Syslog" syslogserver="logs.papertrailapp.com" port="53215" />
    </targets>
    <rules>
        <Logger name="MAT.*" minlevel="Debug" writeTo="webPaperTrail,webLoggly" />
        <Logger name="Raven.*" minlevel="Warn" writeTo="ravenPaperTrail,ravenLoggly" />
    </rules>
</nlog>