<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.2.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Castle.Windsor-NLog" version="3.2.0.1" targetFramework="net45" />
  <package id="DataAnnotationsExtensions" version="1.1.0.0" />
  <package id="FluentValidation" version="5.1.0.0" targetFramework="net45" />
  <package id="FluentValidation.MVC4" version="5.1.0.0" targetFramework="net45" />
  <package id="jQuery" version="1.8.1" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.9.0.1" targetFramework="net40" />
  <package id="knockoutjs" version="2.1.0" targetFramework="net40" />
  <package id="loggly-csharp" version="2.3" targetFramework="net45" />
  <package id="Mandrill.API" version="0.0.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.0.2" targetFramework="net40" />
  <package id="MiniProfiler.RavenDb" version="2.3.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="Mvc2Futures" version="2.0.50217.0" targetFramework="net40" />
  <package id="MvcContrib" version="2.0.95.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Config" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Targets.Loggly" version="1.0.1" targetFramework="net45" />
  <package id="NLog.Targets.Syslog" version="2.0.5164.28270" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Client.MvcIntegration" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.5.2851" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap.Less" version="2.1.1.1" targetFramework="net40" />
  <package id="WebApiContrib.IoC.CastleWindsor" version="0.10.0.0" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="3.1.0.0" targetFramework="net45" />
</packages>