<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="RavenDB" connectionString="Url=https://aeo.ravenhq.com/databases/MAT-Production;ApiKey=47d2ab8d-5af5-47d5-a497-e5400c1012c4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>

    <appSettings>
        <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="/Views/Error/500.htm" xdt:Transform="Replace">
            <error statusCode="400" redirect="/Views/Error/500.htm" />
            <error statusCode="404" redirect="/Views/Error/404.htm" />
            <error statusCode="500" redirect="/Views/Error/500.htm" />
        </customErrors>
    </system.web>

    <!--<system.webServer>
        <rewrite xdt:Transform="Insert">
            <rules>
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.mailatale\.ca$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.mailatale.ca/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>-->
</configuration>