/* --- ribbons --- */
.ribbon {
  position: relative;
  background: url('../img/ribbons/GenericStage.jpg') no-repeat;
  height: 265px;
  text-align: center;
  font-family: "Brandon Grotesque Regular";
  font-size: 24px;
}
.ribbon.home {
  background: url('../img/ribbons/homestage.jpg') no-repeat;
  height: 552px;
}
.ribbon.home span.learnmore {
  position: absolute;
  bottom: 280px;
  left: 35px;
  font-size: 20px;
}
.ribbon.home span.learnmore a {
  color: #00aed6;
  text-decoration: underline;
}
.ribbon.home span.signup {
  position: absolute;
  bottom: 40px;
  left: 355px;
  font-weight: bold;
}
.ribbon.home span.signup a {
  color: #00aed6;
  text-decoration: underline;
}
.ribbon.home a.joinnow {
  background: url('../img/ribbons/SignUp.png') no-repeat;
  position: absolute;
  bottom: 360px;
  left: 60px;
  width: 123px;
  height: 37px;
}
.ribbon.home a.giftnow {
  background: url('../img/ribbons/Gift.png') no-repeat;
  position: absolute;
  bottom: 360px;
  left: 200px;
  width: 123px;
  height: 37px;
}
.ribbon.signup {
  background: url('../img/ribbons/SignUpStage.jpg') no-repeat;
  height: 552px;
}
.ribbon.thankyou {
  background: url('../img/ribbons/ThankYouStage.jpg') no-repeat;
  height: 267px;
}
.ribbon.howitworks {
  background: url('../img/ribbons/HowItWorksStage.jpg') no-repeat;
  height: 552px;
}
.ribbon.howitworks span.signup {
  position: absolute;
  bottom: 40px;
  left: 230px;
  font-weight: bold;
}
.ribbon.howitworks span.signup a {
  color: #00aed6;
  text-decoration: underline;
}
.ribbon.contact {
  background: url('../img/ribbons/ContactStage.jpg') no-repeat;
  height: 275px;
}
.ribbon.contact a.signup {
  background: url('../img/ribbons/SignUp.png') no-repeat;
  position: absolute;
  bottom: 65px;
  right: 70px;
  width: 123px;
  height: 37px;
}
.ribbon.faq {
  background: url('../img/ribbons/FAQStage.jpg') no-repeat;
  height: 275px;
}
.ribbon.faq a.signup {
  background: url('../img/ribbons/SignUp.png') no-repeat;
  position: absolute;
  bottom: 65px;
  right: 70px;
  width: 123px;
  height: 37px;
}
.ribbon.about {
  background: url('../img/ribbons/AboutStage.jpg') no-repeat;
  height: 275px;
}
.ribbon.about a.signup {
  background: url('../img/ribbons/SignUp.png') no-repeat;
  position: absolute;
  bottom: 65px;
  right: 70px;
  width: 123px;
  height: 37px;
}
.ribbon.gift {
  background: url('../img/ribbons/GiftStage.jpg') no-repeat;
  height: 540px;
}
.ribbon.gift span.signup {
  position: absolute;
  bottom: 297px;
  left: 406px;
  font-weight: normal;
  font-size: 20px;
}
.ribbon.gift span.signup a {
  color: #00aed6;
  text-decoration: underline;
}
