/* --- footer --- */
footer {
  margin: 0 auto;
  width: 940px;
}
footer div.container {
  background: url(../img/footer/Footer.jpg) no-repeat;
  height: 137px;
  width: 940px;
  position: relative;
  /* footer navigation */

  /* social media */

}
footer div.container ul.social,
footer div.container ul.nav {
  margin: 0;
  list-style: none;
  position: absolute;
}
footer div.container ul.social li,
footer div.container ul.nav li {
  display: inline;
}
footer div.container ul.nav {
  right: 80px;
  bottom: 54px;
}
footer div.container ul.nav li {
  padding: 0 20px;
}
footer div.container ul.nav li a {
  display: inline;
  color: #4f2b21;
  text-decoration: none;
}
footer div.container ul.nav li a:hover {
  text-decoration: underline;
}
footer div.container ul.social {
  left: 95px;
  bottom: 38px;
}
footer div.container ul.social li {
  float: left;
  margin: 10px 10px;
}
footer div.container ul.social .mixpanel {
  background: url("//mixpanel.com/site_media/images/partner/badge_blue.png") no-repeat;
  width: 114px;
  height: 36px;
  margin-left: -3px;
}
footer div.container ul.social a {
  width: 32px;
  height: 35px;
  display: block;
  text-indent: -9999em;
}
.twitter {
  background: url(../img/footer/twitter.gif) no-repeat;
}
.facebook {
  background: url(../img/footer/facebook.gif) no-repeat;
}
