.modal-backdrop {
  background: none !important;
}
.howitworks {
  color: #104d66;
  position: absolute;
  bottom: 35px;
  right: 133px;
}
.signup .well {
  margin-bottom: 0px;
}
.signup p,
.signup label {
  color: #104d66;
}
.signup legend.low,
.signup legend {
  border: 0;
  font-family: Populaire;
  color: #104d66;
  font-size: 38px;
}
.signup legend.low:first-letter,
.signup legend:first-letter {
  color: #f45905;
}
.signup legend.low {
  margin-bottom: 0px;
}
.signup h1 {
  font-family: PopulaireLight;
  color: #8b8326;
  font-size: 32px;
  letter-spacing: 2px;
}
.signup h2 {
  font-family: PopulaireLight;
  color: #8b8326;
  font-size: 28px;
}
.signup h3 {
  font-family: PopulaireLight;
  color: #104d66;
  font-size: 32px;
}
.signup h4 {
  color: #f45905;
  font-size: 14px;
  margin: 0;
}
.signup ul {
  list-style: none;
}
.signup .down,
.signup .up {
  height: 7px;
  border: none !important;
  margin: 0 0 0 -18px;
  width: 940px;
}
.signup .up {
  background: url(../img/signup/DividerFadeDown.png) no-repeat 0px 0px;
}
.signup .down {
  background: url(../img/signup/DividerFadeUp.png) no-repeat 0px -5px;
}
section.billing-info,
section.subscription .heading,
section.subscription .frequency,
section.subscription .heading-alt,
section.subscription .frequency-alt,
section.personalize,
section.personalize-alt,
section.subscription,
section.preferences {
  background-color: #fff;
  margin-left: -20px;
  padding-left: 20px;
}
section.billing-info,
section.subscription .heading,
section.subscription .frequency,
section.subscription .heading-alt,
section.subscription .frequency-alt,
section.personalize-alt,
section.personalize {
  background-color: #f8fcfe;
}
section.personalize-alt,
section.subscription .heading-alt,
section.subscription .frequency-alt {
  background-color: #F8F8F8;
}
section.preferences .reader-story {
  margin: 20px 10px;
  line-height: 3;
  font-size: 16px;
  color: #104d66;
}
section.preferences .reader-story select {
  padding: 4px 1px 4px 0px;
}
section.subscription .heading-alt,
section.subscription .heading {
  position: relative;
  height: 120px;
  padding: 19px;
}
section.subscription .heading-alt p,
section.subscription .heading p {
  width: 600px;
  font-size: 16px;
}
section.subscription .heading-alt .penguin,
section.subscription .heading .penguin {
  background: url(../img/howitworks/Penguin.png) no-repeat;
  position: absolute;
  left: 600px;
  top: 80px;
  height: 100px;
  width: 265px;
}
section.subscription .details {
  height: auto;
}
section.subscription .details .subscription-info {
  text-align: center;
  margin: 0;
  padding: 5px 0 20px;
  background-color: #f8fcfe;
  position: relative;
}
section.subscription .details .subscription-info .box-selected-basic,
section.subscription .details .subscription-info .box-selected-plus {
  background: url(../img/signup/Checkmark.png) no-repeat;
  height: 10px;
  width: 13px;
}
section.subscription .details .subscription-info .price {
  color: #f45905;
  width: 92px;
  margin: 15px auto;
  text-align: right;
}
section.subscription .details .subscription-info .price span {
  font-size: 30px;
  display: block;
}
section.subscription .details .subscription-info .calculate-shipping {
  margin-bottom: 32px;
  display: block;
  cursor: pointer;
}
section.subscription .details .subscription-info .shipping-fee {
  font-size: 12px;
  color: #747474;
}
section.subscription .details .subscription-info .modal {
  background: url(../img/howitworks/ShippingPop.png) no-repeat;
  width: 229px;
  height: 177px;
  border: none;
  border-radius: inherit;
  box-shadow: none;
  position: absolute;
  top: 230px;
  left: 400px;
  text-align: left;
  overflow: hidden;
  outline: 0;
}
section.subscription .details .subscription-info .modal .modal-header {
  border: none;
  padding: 2px 15px;
}
section.subscription .details .subscription-info .modal .modal-body p {
  color: #104d66;
}
section.subscription .details .subscription-info .modal .modal-body input {
  width: 80px;
  margin-bottom: 0;
}
section.subscription .details .subscription-info .modal .modal-body div.shipping-result {
  color: #747474;
}
section.subscription .details .subscription-info .modal .modal-body div.shipping-result span.fee {
  color: #104d66;
}
section.subscription .details .subscription-info .free-shipping {
  background: url(../img/howitworks/White_Shipping.png) no-repeat;
  height: 62px;
  width: 222px;
  margin: 10px auto;
}
section.subscription .details .subscription-info ul {
  margin-top: 10px;
  color: #104d66;
}
section.subscription .details .subscription-info ul li:first-child {
  margin: 10px 0;
  color: #8b8326;
  font-size: 14px;
  font-weight: bold;
}
section.subscription .details .subscription-info ul li {
  margin: 5px 0;
}
section.subscription .details .separator {
  margin-left: 0;
  width: auto;
  padding: 9px 45px;
  background-color: #f8fcfe;
}
section.subscription .frequency-alt,
section.subscription .frequency {
  height: 50px;
  color: #104d66;
  font-size: 14px;
  line-height: 3.75;
}
section.subscription .frequency-alt input,
section.subscription .frequency input {
  margin: 0;
  width: 25px;
  height: 22px;
}
section.subscription .details .subscription-info {
  background-color: #ffffff !important;
}
section.subscription .details .separator {
  height: 342px;
  background-image: url(../img/signup/Dash.jpg);
  background-repeat: repeat-y;
  background-color: #ffffff !important;
}
.billing-info {
  height: 60px;
  padding: 10px 0 0;
}
.billing-info p {
  color: #f45905;
}
.billing-info span {
  color: #747474;
}
#Refferal {
  margin-bottom: 0;
}
.btn-basic:hover,
.btn-order:hover,
.btn-plus:hover {
  background-color: inherit;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
}
.btn-order,
.btn-basic,
.btn-plus {
  box-shadow: none;
  border: none;
}
.btn-plus:hover,
.btn-basic:hover {
  background-position: -16px -4px;
}
.btn-basic {
  background: url(../img/signup/BasicBTN.png) no-repeat -16px -4px;
  width: 218px;
  height: 33px;
}
.btn-plus {
  background: url(../img/signup/PlusBTN.png) no-repeat -16px -4px;
  width: 218px;
  height: 33px;
}
.btn-order:hover {
  background-position: -71px -3px;
}
.btn-order {
  background: url(../img/signup/PlaceOrder.png) no-repeat -71px -3px;
  width: 288px;
  height: 33px;
}
.summary {
  margin-top: 20px;
}
.summary .order-summary {
  color: #104d66;
  font-size: 16px;
}
.summary .order-summary ul {
  margin-top: 10px;
}
.summary .order-summary .subtotal,
.summary .order-summary .tax,
.summary .order-summary .shipping,
.summary .order-summary .total {
  margin: 5px 0 10px 0;
  padding: 5px 0;
}
.summary .order-summary .total {
  border-top: 1px solid #747474;
  margin-bottom: 20px;
  font-weight: bold;
}
.continue-multireader {
  height: 40px;
  margin: 0 -20px;
  padding: 20px 0 0 20px;
  background-color: #fff;
  color: #f45905;
}
.section-error {
  height: 40px;
  margin: 0 -20px;
  padding: 20px 0 0 0;
  background-color: #fff;
  color: #663366;
  font-family: Populaire;
  font-size: 36px;
  text-align: center;
}
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.gift-options {
  margin: 30px 0;
}
.gift-options ul {
  list-style: disc;
}
.gift-options ul li {
  color: #f45905;
  margin: 20px 0;
}
.gift-options ul span {
  color: #104d66;
}
.gift-options h4 {
  padding-left: 25px;
}
input.error {
  color: red;
}
.billing-info {
  height: 100px;
}
