<div class="control-group">
    @Html.Label(@ViewData.ModelMetadata.DisplayName, new {@class = "control-label"})
    <div class="controls">
        @Html.Password(@ViewData.ModelMetadata.PropertyName, string.Empty, new {@class = "input-large"})
    </div>
</div>