@using System.Web.Optimization
@model MAT.Core.Models.Site.SiteConfig
@{
    ViewBag.Title = "MailATale Admin";
}
@section pageribbon {
    <div class="ribbon red down">
        <h1>• Admin Settings •</h1>
    </div>
}
@section styles
{
    <style>
        .tab-content { min-height: 400px; }
    </style>
}
@section Scripts {
    <script type="text/javascript">
        $(function() {
        });

        function ReloadForm(form, xhr) {
            $(form).html(xhr.responseText);
        }

        function ClearValidationErrors(form, xhr) {
            $("#result", form).html(xhr.responseText);
            $('.validation-summary-errors').html('');
            $('.input-validation-error').removeClass('input-validation-error');
            $('.field-validation-error').remove();
        }
    </script>
}

<div class="well-small">
    @using (Ajax.BeginForm("siteconfig", "default",
                    new AjaxOptions
                        {
                            UpdateTargetId = "result",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Post",
                            OnSuccess = "ClearValidationErrors('#change-account', xhr)",
                            OnFailure = "ReloadForm('#change-account', xhr)"
                        },
                    new { @id = "change-account" }))
    {
        @Html.DisplayForModel()
    }
</div>

